/* Comment */
.article-comment {
  position: relative;
  background-color: #fff;
  padding: 0 18px;
  .top-title {
    border-bottom: none;
    padding-top: 15px;
    margin-left: 0;
    margin-right: 0;
    font-size: 16px;
    font-weight: 700;
    color: #545454;
    .write-comment {
      float: right;
      color: #ea6f5a;
      line-height: 22px;
      font-size: 14px;
      i {
        margin-right: 5px;
      }
    }
  }
  .no-content {
    padding: 40px 0;
    font-size: 14px;
    color: #969696;
    text-align: center;
    background-color: #fff;
    img {
      padding-bottom: 10px;
      width: 140px;
    }
    button {
      color: #3194d0;
    }
  }
  .comment-wrapper {
    textarea {
      padding: 15px;
      position: fixed;
      top: 0;
      left: 0;
      display: none;
      z-index: 13;
      width: 100%;
      height: 150px;
      font-size: 17px;
      line-height: 1.5;
      background-color: transparent;
      color: #333;
      display: block;
    }
    .backdrop {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 11;
      background-color: transparent;
      -webkit-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-property: background-color;
      -o-transition-property: background-color;
      transition-property: background-color;
    }
    .show {
      -webkit-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
      background-color: rgba(0, 0, 0, 0.6);
    }
    .comment-reply-drawer {
      padding: 15px;
      left: 0px;
      width: 100%;
      height: 222px;
      top: 0px;
      z-index: 12;
      position: fixed;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      background-color: #fff;
      .control {
        position: absolute;
        bottom: 15px;
        right: 15px;
        text-align: right;
        button {
          margin-left: 15px;
          width: 80px;
          height: 35px;
          font-size: 17px;
          line-height: 35px;
        }
        .cancel {
          color: #999;
        }
        .submit {
          background-color: #42c02e;
          color: #fff;
          border-radius: 4px;
        }
      }
    }
  }
}

.comments-wrap {
  .comment-item {
    border-bottom: 1px solid;
    border-color: #f0f0f0;

    padding-top: 15px;
    .user-avatar {
      float: left;
      margin-right: 10px;
      img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }
    }
    .main {
      overflow: hidden;
      .comment-user {
        margin-bottom: 6px;
        .nickname-wrap {
          overflow: hidden;
          .nickname {
            font-size: 16px;
            font-weight: 700;
            vertical-align: middle;
            color: #484848;
          }
          .oneline {
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          img {
            width: 18px;
            height: 18px;
            vertical-align: middle;
            margin-left: 5px;
          }
        }
      }
      .comment-content {
        font-size: 16px;
        line-height: 1.7;
        padding-right: 18px;
        color: #484848;

        word-break: break-word !important;
        word-break: break-all;
      }
      .comment-extra {
        font-size: 12px;
        height: 20px;
        line-height: 20px;
        color: #b1b1b1;
        margin-top: 5px;
        margin-bottom: 15px;
      }
      .sub-comment-list {
        .sub-comment-item {
          padding: 15px 0;
          border-top: 1px solid;
          font-size: 14px;
          color: #484848;
          border-color: #e6e6e6;
          .user-avatar {
            float: left;
            margin-right: 8px;
            img {
              width: 22px;
              height: 22px;
              border-radius: 50%;
            }
          }
          .sub-comment-wrap {
            overflow: hidden;
            padding-right: 18px;

            overflow: hidden;
            padding-right: 18px;

            .nickname {
              font-size: 16px;
              font-weight: 700;
              vertical-align: middle;
              color: #484848;
            }
            .sub-comment-text {
              font-size: 15px;
              a {
                color: #3194d0;
              }
            }
            .sub-comment-extra {
              padding-top: 5px;
              font-size: 12px;
              color: #b1b1b1;
              .reply-btn {
                padding-left: 6px;
                font-size: 13px;
                color: #b1b1b1;
              }
            }
          }
        }
      }
    }
  }
  .comment-open-app-btn-wrap {
    text-align: center;
    padding-bottom: 20px;
    margin-top: 20px;
    .comment-open-app-btn {
      border: 2px solid #ea6f5a;
      color: #ea6f5a;
      background-color: transparent;
      border-radius: 4px;
      text-align: center;
      width: 250px;
      height: 45px;
      padding: 10px 30px;
      font-size: 16px;
    }
  }
}
