.padding {
  padding-left: 18px;
  padding-right: 18px;
}
.novel-info {
  @extend .padding;
  padding: 25px 18px 0;
  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .cover {
    float: left;
    margin-bottom: -3px;
    width: 90px;
    height: 120px;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    border-style: none;
  }
  .background {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(40px);
    -ms-filter: blur(40px);
    filter: blur(40px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=40,MakeShadow=false);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  .info {
    margin-left: 105px;
    font-size: 0;
    .notebook-follow-button {
      display: inline-block;
      float: right;
      margin: 0 0 40px 10px;
      padding: 0 5px;
      height: 24px;
      line-height: 22px;
      font-size: 13px;
      text-align: center;
      border-radius: 3px;
      border: 1px solid #fff;
      background-color: transparent;
      color: #fff;
    }
    .title {
      margin-top: 0;
      font-size: 20px;
      line-height: 1.3;
      color: #fff;
    }
    .author {
      display: block;
      margin-top: 10px;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
      .avatar {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        vertical-align: middle;
        display: inline-block;
      }
      .name {
        margin-left: 6px;
        font-size: 15px;
        color: #fff;
        vertical-align: middle;
      }
    }
    .meta {
      margin: 12px 0 15px;
      font-size: 12px;
      color: #fff;
    }
  }
}

//简介
.intros {
  @extend .padding;
  padding: 18px;

  font-size: 14px;
  line-height: 1.5;
  color: #333;
}
//标签
.categories-group {
  padding: 0 18px;
  margin-top: -10px;
  padding-bottom: 18px;
  i {
    margin-right: 5px;
    vertical-align: middle;
    font-size: 18px;
    color: #eee;
  }
  .category {
    display: inline-block;
    margin: 0 6px 6px 0;
    padding: 6px 14px;
    font-size: 12px;
    border-radius: 15px;
    color: #333;
    background-color: #f5f5f5;
  }
}

.latest-novel-note {
  display: block;
  padding: 15px 18px;

  .ic-latest {
    display: block;
    margin-right: 10px;
    font-size: 20px;
    line-height: 1.2;
    color: #ea6f5a;
    float: left;
  }
  .publish-time {
    font-size: 12px;
    color: #999;
    float: right;
    display: block;
    line-height: 25px;
  }
  .name {
    margin-right: 100px;
    font-size: 16px;
    color: #333;
  }
  .oneline {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

//目录
.book-chapters-header {
  height: 46px;
  border-bottom: 1px solid;
  padding: 10px 18px;
  border-color: #eaeaea;
  .title {
    padding-left: 7px;
    border-left: 3px solid #ea6f5a;
    font-size: 14px;
    font-weight: 700;
    color: #545454;
  }
  .reset {
    float: right;
    font-size: 14px;
    color: #999;
    margin-top: 5px;
  }
}
#book-chapters {
  padding: 0 18px;
  background-color: #fff;
  height: 100%;
  ul {
    list-style-type: none;
    .chapter:not(:last-child) {
      border-bottom: 1px solid #f0f0f0;
    }
    .chapter {
      position: relative;
      padding: 18px 0;

      .part {
        height: 100%;
        width: 30px;
        color: #b1b1b1;
        font-size: 17px;
        line-height: 24px;
        float: left;
      }
      .content {
        overflow: hidden;
        display: block;
        &.padding-right {
          padding-right: 60px;
        }
        .info {
          display: block;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          line-height: 21px;
          max-height: 42px;
          -webkit-box-sizing: content-box;
          -moz-box-sizing: content-box;
          box-sizing: content-box;
          white-space: normal;
          .name {
            font-size: 15px;
            color: #2f2f2f;
          }
        }
        .meta {
          color: #999;
          font-size: 12px;
          line-height: 20px;
          margin-top: 4px;
          span {
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
      .buy-note {
        background-color: #da9e55;
        color: #fff;
        position: absolute;
        right: 0;
        top: 19px;
        display: block;
        width: 44px;
        height: 24px;
        border-radius: 12px;
        font-size: 12px;
        text-align: center;
        line-height: 24px;
      }
      .try-read {
        float: right;
        background-color: rgba(218, 158, 85, 0.1);
        color: #da9e55;
        display: block;
        width: 44px;
        height: 24px;
        border-radius: 12px;
        font-size: 12px;
        text-align: center;
        line-height: 24px;
      }
    }
  }
  .scroller-1aZec_0 {
    background-color: inherit;
    clear: both;
    .flow-list-placeholder-load-more {
      margin: auto 0;
      padding: 15px 0 15px 7px;
      text-align: center;
      font-size: 15px;
      color: #969696;
    }
  }
}

//更多精彩连载
.recommend-novels-list {
  .top-title {
    padding: 15px 18px;
    font-size: 14px;
    font-weight: 700;
    color: #545454;
    span {
      padding-left: 7px;
      border-left: 3px solid #ea6f5a;
    }
  }
  .novels-group {
    padding: 0 18px;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
    &:first-child {
      padding-left: 20px;
    }
    .novel {
      display: inline-block;
      padding: 0 12px 18px 0;
      vertical-align: top;
      .cover {
        width: 90px;
        height: 120px;
        border-radius: 4px;
        font-size: 0;
      }
      .name {
        width: 90px;
        font-size: 14px;
        font-weight: 700;
        color: #333;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 16px;
        max-height: 32px;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        white-space: normal;
      }
      .views-count {
        margin-top: 6px;
        font-size: 13px;
        color: #999;
      }
    }
  }
  .recommend-novels-list-load-more {
    display: block;
    margin: auto 0;
    padding: 15px 0 15px 7px;
    text-align: center;
    font-size: 15px;
    color: #969696;
    border-top: 1px solid;
    border-color: #f0f0f0;
  }
}
//热门排行
.recommend-novels-trending {
  .top-title {
    padding: 15px 18px;
    font-size: 14px;
    font-weight: 700;
    color: #545454;
    span {
      padding-left: 7px;
      border-left: 3px solid #ea6f5a;
    }
  }
  .banner-group {
    padding: 0 18px;
    margin-bottom: 20px;
    font-size: 0;
    .banner {
      display: inline-block;
      width: -webkit-calc(50% - 10px);
      width: calc(50% - 10px);
      &:last-child {
        margin-left: 15px;
      }
      img {
        width: 100%;
      }
    }
  }
}
//购买按钮
.paid-fixed-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  padding: 8px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: -webkit-calc(8px + env(safe-area-inset-bottom));
  padding-bottom: calc(8px + env(safe-area-inset-bottom));
  padding-bottom: -webkit-calc(8px + constant(safe-area-inset-bottom));
  padding-bottom: calc(8px + constant(safe-area-inset-bottom));
  .try-read {
    border: 1px solid #da9e55;
    background-color: rgba(218, 158, 85, 0.1);
    color: #da9e55;
    width: 37%;
    float: left;
  }
  a {
    height: 100%;
    font-size: 17px;
    text-align: center;
    border-radius: 4px;
    display: block;
    line-height: 49px;
  }
  .reward-button {
    border: 1px solid #da9e55;
    background-color: #da9e55;
    color: #fff;
    width: 60%;
    float: right;
  }
  button {
    height: 100%;
    font-size: 17px;
    text-align: center;
    border-radius: 4px;
    display: block;
    line-height: 49px;
    // 立即拿下对话框
    // .el-dialog__wrapper {
    //   position: fixed;
    //   top: 0;
    //   right: 0;
    //   bottom: 0;
    //   left: 0;
    //   overflow: auto;
    //   margin: 0;
    //   .el-dialog {
    //     position: relative;
    //     margin: 0 auto 50px;
    //     background: #fff;
    //     -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    //     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    //     -webkit-box-sizing: border-box;
    //     -moz-box-sizing: border-box;
    //     box-sizing: border-box;
    //     margin-top: 15vh;
    //     width: 322px;
    //   }
    //   .buy-confirm-modal-1biVE_0 {
    //     -webkit-box-shadow: none !important;
    //     box-shadow: none !important;
    //     border: none !important;
    //     border-radius: 5px !important;
    //   }
    //   .el-dialog {
    //     overflow: hidden;
    //   }
    // }
  }
  .tip {
    position: absolute;
    bottom: 66px;
    bottom: -webkit-calc(66px + env(safe-area-inset-bottom));
    bottom: calc(66px + env(safe-area-inset-bottom));
    bottom: -webkit-calc(66px + constant(safe-area-inset-bottom));
    bottom: calc(66px + constant(safe-area-inset-bottom));
    right: 30%;
    margin-right: -60px;
    padding: 10px;
    -webkit-box-shadow: 0 1px 6px 0 #ddd;
    box-shadow: 0 1px 6px 0 #ddd;
    border-radius: 4px;
    text-align: center;
    line-height: 18px;
    background-color: #fff;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    &:before {
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      left: 50%;
      bottom: -8px;
      margin-left: -5px;
      -webkit-box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.1);
      box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.1);
      background-color: #fff;
    }
  }
}
img {
  max-width: 100%;
  border-style: none;
}
button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  border: none;
  background-color: transparent;
  cursor: default;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  font-family: sans-serif;
  line-height: 1.15;
  margin: 0;
}
